<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Estoques.DAL.Properties.Settings.db_estoquesConnectionString"
            connectionString="Data Source=BENILSON\SQLEXPRESS;Initial Catalog=db_estoques;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Estoques.DAL.Properties.Settings.db_estoquesConnectionString1"
            connectionString="Data Source=HPPC-HP\SQLEXPRESS;Initial Catalog=db_estoques;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
